@import "reset", "intro", "anim";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

$text-size:28px;
$line-height:43px;
body {
	background-color:#000;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:$text-size;
	line-height: $line-height;

	h2 {
		color: red;		
	}
}

.btn {
	padding: 15px 0 calc(constant(safe-area-inset-bottom) + 15px);
	padding: 15px 0 calc(env(safe-area-inset-bottom) + 15px);
}

.blind{
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}








